{% extends 'base.html' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% block title %}Home{% endblock %}

{% block content %}
<style>
  .greeting {
    color: red;
  }

  .title {
    color: beige;
  }

  .text-beige {
    color: beige;
  }

  .text-burlywood {
    color: burlywood;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 10%;
  }

  .text-center {
    text-align: center;
  }

  .button-padding {
    padding-right: 17%;
  }

  .button-margin {
    margin-left: 32%;
  }
</style>

{% if user.is_authenticated %}
  <h5 class="greeting">Hi {{ user.username }}!</h5>
  <h3 class="title">Management Portfolio</h3>
  <p><a href="{% url 'logout' %}">Logout</a></p>
  <div>
    <button class="btn-warning btn-lg button-padding" type="button" onclick="location.href='/comp'">Add Company</button><br><br>
    <button class="btn-primary btn-lg button-padding" onclick="location.href='/emp'">Add Employees</button><br><br>
    <button class="btn-danger btn-lg" onclick="location.href='/showemp'">Manage Employees</button><br><br>
    <button class="btn-success btn-lg" onclick="location.href='/show'">Manage Companies</button><br>
  </div>
{% else %}
  <div style="padding-bottom: 20%;">
    <h2 class="text-burlywood">Management Portfolio system</h2>
    <h5 class="text-beige text-center">You are not Logged in</h5>
    <a href="{% url 'login' %}"><button class="btn-warning btn-lg button-margin">Login</button></a>
  </div>
{% endif %}
{% endblock %}
